@module: display-candidates;
.@{module} {
  &__main-container {
    display: flex;
    justify-content: center;
  }

  &__container {
    width: 70%;
  }

  &__title {
    color: #212529;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
  }

  &__search {
    width: 200px;
    margin-bottom: 10px;
  }
  &__filters{
    display: flex;
    justify-content: space-between;
  }
}


