*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857;
  color: #525252;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
