
*{
  box-sizing: border-box;
}
html, body {
  width: auto !important;
  height: auto !important;
}
body {
  padding-right: 0!important;
  overflow-x: hidden;
  overflow-y: scroll!important;
  margin: 0;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857;
  color: #525252;
  background-color: rgb(248, 249, 250) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:disabled,
button[disabled]{
  opacity:0.5;
  color: #ffffff !important;
}
